html{
    background-color: rgb(56, 56, 56);
}
.titleName{
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;;
}
.para{
    padding-bottom: 5%;
    font-size: large;
    font-family: 'Noto Sans KR', sans-serif;;
    text-align: justify;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}
.logos{
    text-align: center;
    padding-bottom: 1%;
}